@import "tailwindcss";


.side-active::before {
    content: "";
    position: absolute;
    left: -14px;
    width: 5px;
    height: 100%;
    background: #9271FC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@layer utilities {
  /* Scrollbar width */
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Scrollbar track */
  .scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* bg-gray-800 */
  }

  /* Scrollbar handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #8F6EFB; /* emerald-500 */
    border-radius: 9999px; /* fully rounded */
  }

  /* Handle on hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8F6EFB; /* emerald-600 */
  }
}
.custom-shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4),
              0 2px 4px rgba(139, 92,246,0.15);
  transition: box-shadow 0.2s ease-in-out;            
}
.custom-shadow:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6),
              0 4px 8px rgba(139, 92,246,0.25);
}